<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Vitae - Miguel Angel Alvarez Vergara</title>
    {% load static %}
    <!-- Vinculamos el archivo CSS -->
    <link rel="stylesheet" href="{% static 'app_/css/styles.css' %}">
</head>
<body>
    <!-- Sección del CV -->
    <header>
        <!-- Información del curriculum -->
        <h1>Curriculum Vitae</h1>
        <h2>Miguel Angel Alvarez Vergara</h2>
        <p><strong>Ingeniero Industrial y Técnico en Programación Avanzada</strong></p>
        <p>Experiencia en procesos logísticos y administración de operaciones. Durante más de 10 años...</p>
        
    
        <!-- Botón para contactar -->
        <a href="/mi_app/contacto/">
            <button class="contact-button">Contactar</button>
        </a>
    </header>

    <section id="experiencia">
        <h3>Experiencia Profesional</h3>
        <h4>Administrativo de operaciones</h4>
        <p><strong>Pilotes Terratest</strong>, Feb 2019 - Ene 2023</p>
        <ul>
            <li>Emisión documentos tributarios.</li>
            <li>Ingreso de compras a sistema.</li>
            <li>Toma de Inventarios cíclicos.</li>
            <li>Gestión administrativa general.</li>
        </ul>

        <h4>Ejecutivo de B2B</h4>
        <p><strong>Cymtek</strong>, Mar 2014 - Nov 2018</p>
        <ul>
            <li>Administración de portales B2B.</li>
            <li>Gestión logística de pedidos.</li>
            <li>Reportabilidad.</li>
            <li>Coordinación de operaciones.</li>
        </ul>

        <h4>Administrativo de Despacho e Inventarios</h4>
        <p><strong>Tehmco</strong>, Jul 2011 - Dic 2014</p>
        <ul>
            <li>Emisión de documentos de despacho.</li>
            <li>Inventarios: Producto terminado / materias primas.</li>
            <li>Reportes de inventario.</li>
            <li>Coordinación de importaciones.</li>
        </ul>

        <h4>Administrativo de Logística</h4>
        <p><strong>Axis Logística de Chile</strong>, Feb 2008 - Mar 2011</p>
        <ul>
            <li>Control de documentos tributables.</li>
            <li>Tomas de inventario.</li>
            <li>Ajustes de Stock.</li>
            <li>Atención al cliente externo / interno.</li>
        </ul>
    </section>

    <section id="conocimientos">
        <h3>Conocimientos y Habilidades</h3>
        <ul>
            <li>Ofimática general.</li>
            <li>SQL, Python, Power BI, PHP, JavaScript, HTML.</li>
            <li>Habilidades blandas.</li>
            <li>ERP, JD Edwards, Defontana, LN.</li>
        </ul>
    </section>

    <section id="contacto">
        <h3>Contacto</h3>
        <ul>
            <li><strong>Correo:</strong> Mangelalvarezv@hotmail.com</li>
            <li><strong>Teléfono:</strong> +569 36176868</li>
            <li><strong>Dirección:</strong> Lago Ranco 1311, Lampa.</li>
        </ul>
    </section>
</body>
</html>